<!DOCTYPE html>
<html>
<head>
    <title>Деловање и контрола</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img id="logo" src= "\static\pictures\logo-nitra-hor-cir.svg" alt= "png-image" />
    <br><br>
    <h2>Препоруке</h2>
    <br><br>
        <p>Приликом дизајнирања система вештачке интелигенције потребно је узети у обзир све кориснике и сценарија обраде података уз комплетан опсег варијабилности и специфичности обраде података о личности. Приликом развоја Система потребно је документовати:
        </p>
        <br>
            <li>могућности и функционалности Система;</li>
            
            <li>сценарије коришћења;</li>
            
            <li>оперативне фактуре и конфигурације које доприносе поузданом и одговорном коришћењу Система;</li>
            
            <li>ограничења;</li>
            
            <li>сегменте унутар којих Систем није дизајниран за употребу;</li>
            
            <li>приказ тачности и правилног рада Система и опис до које мере се такви резултати могу очекивати за генерализовано коришћење за сценарије који нису иницијално узети у обзир;</li>
            
            <li>границе до којих је очекиван даљи развој Система без директног утицаја човека.</li>
            
            <br>
            <h3>Препорука је да се:</h3>
                <br>
                1.	Успостави техничка документација која прецизно објашњава дизајн Система, подсистема и компоненти, укључујући механизме за праћење и надзор функционисања Система.
                <br><br>
                2.	Дизајнира такав Систем који омогућава праћење и надзор његовог функционисања као и ретроспективну анализу резултата обраде у односу на улазне податке.
                <br><br>
                3.	Код Система који укључује интеракцију с лицима која примењују и/или користе Систем, а који може понудити више од једног резултата обраде с различитим вероватноћама, потребно је омогућити избор једног од резултата обраде.
                <br><br>
                4.	У процес планирања, дизајна и развоја система укључи детекција негативних или узгредних ефеката по питању једнакости и људских права као и могућност надзора и ретроспективне анализе функционисања Система.
                <br><br>
                5.	Идентификује и документује више врста метода за процену исправности функционисања Система. Различити начини процењивања доприносе ефикаснијој идентификацији аномалија у функционисању Система.
                <br><br>
                6.	Анализирају и од стране дизајнера Система у потпуности разумеју изворни подаци на основу којих се врши тренинг алгоритма Система, како би се утврдило да ли изворни подаци заиста представљају опсег варијабилности за све кориснике или уже групе корисника. Скуп података на коме се тренира модел Система треба да буде репрезентативан, у смислу да представља верну слику реалног Система који се моделира.
                <br><br>
                7.	Идентификују лица која су задужена да реагују у случају проблема у функционисању Система, која надгледају и контролишу рад Система од фазе развоја, преко тестирања и фазе учења (тренинга) до пуне експлоатације, односно свакодневног рада Система. Потребно је та лица евидентирати и дефинисати њихова задужења, као и начин њиховог избора лица, њихову обуку, проверу поступања као и капацитета током времена, будући да је потенцијални сценарио да Систем кроз процес учења протоком времена својим могућностима превазиђе капацитете лица за надзор.
                <br><br>
                8.	Идентификују елементи Система, кориснички алати и алати за извештавање, које би лица из тачке 7. требало да познају, укључујући и могућност разумевања излазних резултата Система на основу којих могу предузети одређене радње (на пример: гашење Система).
                <br><br>
                9.	Успоставе и документују критеријуми за пуштање Система у фазу примене који морају да садрже метрику и граничне вредности. У случају да извештај о процени покаже вредности које прелазе граничне вредности, потребно је дефинисати и документовати приступ и план како да се реше идентификовани проблеми.
                <br><br><br>
            
                <p>
            Уколико лица задужена за надзор Система уоче одређене аномалије у понашању Система које би протоком времена могле довести до нежељеног стања Система описаног у претходној тачки, могу, на основу свог дискреционог права, Систем привремено ставити ван функције у ограниченом временском периоду, уз детаљно образложење свих разлога за такво поступање. Оваква одлука подлеже ревизији ширег тима који је учествовао у креирању Система, или за то надлежне комисије.
            </p>
  
            <br><br>
            <a id="button" href="/delovanje_i_kontrola">Врати се назад</a></li>
            <a id="button" href="/tehnicka_pouzdanost_i_bezbednost">Следећа група питања</a></li>
</body>
</html>
