<!DOCTYPE html>
<html>
<head>
    <title>Друштвено и еколошко благостање</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img id="logo" src= "\static\pictures\logo-nitra-hor-cir.svg" alt= "png-image" />
    
    <br><br>
    <h2>Препоруке</h2>
    <br>
        <p>Током целокупног животног циклуса Система неопходно је проматрати његов утицај на друштво и животну средину. Примена Система може негативно утицати на друштвене односе у различитим областима живота (образовање, рад, слободно време, разонода и слично) те је од изузетне важности континуирано процењивати, пратити и преиспитивати ефекте примене Система на човека и друштво у целини као и животну средину са којом је човек у нераскидивој вези.    
        </p>
        <br>
        <p>Ради постизања овог Услова, препорука је да се за Систем:
        </p>
        <br>
            <li>Успостави стандардизован приступ процене утицаја на људе, организације, цело друштво, демократију и природну средину.</li>
            
            <li>Обави процена утицаја уз учешће селектованих индивидуа које су задужене за процене.</li>
            
            <li>У процене утицаја Система укључе и ефекти ограничења Система или рестриктивног или осетљивог коришћења.;</li>
            
            <li>Периодично обнове постојеће процене утицаја услед промена у Систему или услед промене или проширења сврхе коришћења Система.</li>
            
            <li>Дефинишу и документују методе које ће да се користе да би се обавестила или информисала лица која имају било какву интеракцију са Системом (а не са особом), или да као резултат обраде Система буде генерисан резултат (нпр. фотографија).</li>
            
            <li>Идентификују и приоритизују демографске групе које могу да добију нижи квалитет сервиса у зависности од демографске групе којој припадају или услед комбинације других фактора.</li>
            
            <li>Анализирају изворни подаци да би се проценила инклузивност свих демографских група – документовати које групе нису покривене и прикупити додатне податке који решавају тај проблем.
                </li>

            <li>Дефинишу и документују процене равноправности/инклузивности употребе Система за све демографске групе.</li>

            <li>Дефинишу и документују минимални и максимални критеријуми које процена треба да задовољи ради одговорног стављања Система у оперативно коришћење (фазу продукције).</li>

            <li>Упореди процена са успостављеним критеријумима, и у случају да минимална очекивања нису постигнута, успоставе опције за превазилажење; Потенцијално консултовати стручњаке у референтној области како би се осигурало да су решења прихватљива и у складу с регулативом</li>

            <br>
            
            <a id="button" href="/drustveno_i_ekonomsko_blagostanje">Врати се назад</a></li>
            <a id="button" href="/odgovornost">Следећа група питања</a></li>
</body>
</html>
