<!DOCTYPE html>
<html>
<head>
    <title>Крај упитника</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img id="logo" src= "\static\pictures\logo-nitra-hor-cir.svg" alt= "png-image" />

   <h1>УПИТНИК</h1>

   <h2>Етичке смернице за развој, примену и употребу поуздане и одговорне вештачке интелигенције</h2> 

    <p>Јединствени ИД корисника: {{ jedinstveni_id }}</p>

    <p>Време: {{ vreme }}</p> <!-- Dodajemo prikaz trenutnog vremena -->
<br>
   <h3> Ваши одговори</h3>
   
    <h4>Да ли је систем вештачке интелигенције дизајниран да:</h4>
    <p>Одговор: {{ odgovor_pitanje1 }}</p>
    
    <h4>Да ли је лице које користи и/или лице на које систем вештачке интелигенције утиче свесно да је у интеракцији са системом?</h4>
    <p>Одговор: {{ odgovor_pitanje2 }}</p>
    {% if odgovor_pitanje2 == 'Да, и то: (на начин)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje2_text }}</p>
    {% endif %}

    <h4>Да ли је лице које користи и/или лице на које систем вештачке интелигенције утиче обавештено да је одлука, садржај, савет или исход резултат алгоритамске одлуке?</h4>
    <p>Одговор: {{ odgovor_pitanje3 }}</p>
    {% if odgovor_pitanje3 == 'Да, и то: (на начин)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje3_text }}</p>
    {% endif %}

    <h4>У којој мери систем вештачке интелигенције може да утиче на аутономију личности при доношењу одлука?</h4>
    <p>Одговор: {{ odgovor_pitanje4 }}</p>

    <h4>Да ли су успостављене процедуре којима се лицу које користи систем вештачке интелигенције онемогућава да се, при доношењу одлука, ослања искључиво на систем вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje5 }}</p>
    {% if odgovor_pitanje5 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje5_text }}</p>
    {% endif %}

    <h4>Да ли постоји процедура којом се спречава да систем вештачке интелигенције ненамерно (самосталним учењем) утиче на аутономију личности?</h4>
    <p>Одговор: {{ odgovor_pitanje6 }}</p>
    {% if odgovor_pitanje6 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje6_text }}</p>
    {% endif %}

    <h4>Да ли постоји процедура којом се спречавају могуће негативне последице по лица која користе као и лица на које систем утиче ако развију зависност од система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje7 }}</p>
    {% if odgovor_pitanje7 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje7_text }}</p>
    {% endif %}

    <h4>Да ли су предузете мере за смањење ризика од зависности лица која користе као и лица на које систем утиче од коришћења система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje8 }}</p>
    {% if odgovor_pitanje8 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje8_text }}</p>
    {% endif %}

    <h4>Да ли је систем вештачке интелигенције:</h4>
    <p>Одговор: {{ odgovor_pitanje9 }}</p>

    <h4>Да ли су лица која врше контролу обучена за те послове?</h4>
    <p>Одговор: {{ odgovor_pitanje10 }}</p>

    <h4>Да ли су успостављени механизми откривања и реаговања на нежељене штетне ефекте система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje11 }}</p>
    {% if odgovor_pitanje11 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje11_text }}</p>
    {% endif %}

    <h4>Да ли постоји „дугме за заустављање“ или процедура за безбедно прекидање операције када је то потребно?</h4>
    <p>Одговор: {{ odgovor_pitanje12 }}</p>
    {% if odgovor_pitanje12 == 'Да, постоји:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje12_text }}</p>
    {% endif %}

    <h4>Да ли су развијене посебне контролне мере за евидентирање самоучења или аутономне природе система?</h4>
    <p>Одговор: {{ odgovor_pitanje13 }}</p>
    {% if odgovor_pitanje13 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje13_text }}</p>
    {% endif %}

    <h4>Да ли систем вештачке интелигенције припада информационо-комуникационој (ИКТ) инфраструктури од посебног значаја?</h4>
    <p>Одговор: {{ odgovor_pitanje14 }}</p>

    <h4>Да ли је систем вештачке интелигенције сертификован у складу са стандардима у области информационе безбедности (нпр. ИСО 27000 и др) или је усклађен са овим стандардима?</h4>
    <p>Одговор: {{ odgovor_pitanje15 }}</p>
    {% if odgovor_pitanje15 == 'Да, сертификован је по стандарду … (навести којем)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje15_text }}</p>
    {% elif odgovor_pitanje15 == 'Да, усклађен је са стандардом … (навести којем)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje15_text }}</p>
   
    {% endif %}

    <h4>Да ли су препознати потенцијални облици претњи (напада) на које би систем вештачке интелигенције могао бити рањив?</h4>
    <p>Одговор: {{ odgovor_pitanje16 }}</p>
    {% if odgovor_pitanje16 == 'Да, и то: (навести који су, нпр. дефекти у дизајну, техничке грешке…)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje16_text }}</p>
    {% endif %}

    <h4>Да ли су узете у обзир различите врсте рањивости и потенцијалне улазне тачке напада, и то (означити ако су узете у обзир):</h4>
    <p>Одговор: {{ odgovor_pitanje17 }}</p>
    {% if odgovor_pitanje17 == 'Друго:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje17_text }}</p>
    {% endif %}

    <h4>Да ли систем вештачке интелигенције припада информационо-комуникационој (ИКТ) инфраструктури од посебног значаја?</h4>
    <p>Одговор: {{ odgovor_pitanje18 }}</p>
    {% if odgovor_pitanje18 != 'Нису предузете посебне мере' %}
    <p>Детаљан одговор: {{ odgovor_pitanje18_text }}</p>
    
    {% endif %}

    <h4>Да ли је извршено тестирање неовлашћеног приступа Систему (нпр. пенетрационо тестирање)?</h4>
    <p>Одговор: {{ odgovor_pitanje19 }}</p>
    {% if odgovor_pitanje19 == 'Да, коришћен је алат:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje19_text }}</p>
    {% elif odgovor_pitanje19 == 'Да, појединих делова Система и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje19_text }}</p>
    {% endif %}

    <h4>Која софтверска решења користите за заштиту од напада на систем вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje20 }}</p>
    {% if odgovor_pitanje20 == 'Користи се:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje20_text }}</p>
    {% endif %}

    <h4>Који је временски период у коме је обезбеђено ажурирање система вештачке интелигенције које ће отклањати откривене безбедносне пропусте?</h4>
    <p>Одговор: {{ odgovor_pitanje21 }}</p>

    <h4>Да ли су дефинисани ризици, метрике ризика и нивои ризика система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje21 }}</p>
    {% if odgovor_pitanje21 == 'Да, и то: (навести ризике)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje21_text }}</p>
    {% endif %}

    <h4>Да ли је успостављен процес за континуирано мерење и процену ризика? </h4>
    <p>Одговор: {{ odgovor_pitanje23 }}</p>

    <h4>Да ли су крајњи корисници и субјекти обавештени о постојећим или потенцијалним ризицима?</h4>
    <p>Одговор: {{ odgovor_pitanje24 }}</p>
    {% if odgovor_pitanje24 == 'Да, обавештени су (навести на који начин)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje24_text }}</p>
    {% endif %}

    <h4>Да ли су идентификоване могуће последице напада (инцидената)?</h4>
    <p>Одговор: {{ odgovor_pitanje25 }}</p>
    {% if odgovor_pitanje25 == 'Да, и то: (навести последице)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje25_text }}</p>
    {% endif %}

    <h4>Да ли је извршена процена утицаја стабилности и поузданости Система на доношење одлука (ризик од компромитовања података и алгоритама)?</h4>
    <p>Одговор: {{ odgovor_pitanje26 }}</p>
    {% if odgovor_pitanje26 == 'Да, и то: (навести процену)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje26_text }}</p>
    {% endif %}

    <h4>Да ли је тестирање Система усклађено са одговарајућим нивоима стабилности и поузданости?</h4>
    <p>Одговор: {{ odgovor_pitanje27 }}</p>
    {% if odgovor_pitanje27 == 'Да, и то: (навести процену)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje27_text }}</p>
    {% endif %}

    <h4>Да ли је планирана толеранција грешке?</h4>
    <p>Одговор: {{ odgovor_pitanje28 }}</p>

    <h4>Да ли је развијен механизам за процену промена у раду система вештачке интелигенције како би се испитале његова стабилност, поузданост и сигурност?</h4>
    <p>Одговор: {{ odgovor_pitanje29 }}</p>
    {% if odgovor_pitanje29 == 'Да, користи се (навести шта)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje29_text }}</p>
    {% endif %}

    <h4>Које су мере предузете како би се осигурало да подаци који се користе за развој система вештачке интелигенције буду тачни, ажурни, потпуни и репрезентативни?</h4>
    <p>Одговор: {{ odgovor_pitanje30 }}</p>
    {% if odgovor_pitanje30 == 'Мере које су предузете су:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje30_text }}</p>
    {% endif %}

    <h4>Како се врши праћење и документовање прецизности система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje31 }}</p>
    {% if odgovor_pitanje31 == 'Врши се: (навести како)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje31_text }}</p>
    {% endif %}

    <h4>Да ли је урађена статистичка анализа и да ли су могући сценарији или могуће категорије класификације равномерно или адекватно заступљене?</h4>
    <p>Одговор: {{ odgovor_pitanje32 }}</p>
    {% if odgovor_pitanje32 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje32_text }}</p>
    {% endif %}

    <h4>Да ли се о нивоу прецизности, одзива и тачности система вештачке интелигенције обавештавају крајњи корисници и/или субјекти?</h4>
    <p>Одговор: {{ odgovor_pitanje33 }}</p>
    {% if odgovor_pitanje33 == 'Да, и то: (навести на који начин)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje33_text }}</p>
    {% endif %}

    <h4>Да ли систем вештачке интелигенције може да изазове критичне, супротстављене или штетне последице у случају ниске поузданости и/или поновљивости резултата рада система?</h4>
    <p>Одговор: {{ odgovor_pitanje34 }}</p>
    {% if odgovor_pitanje34 == 'Систем је поуздан јер је извршено:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje34_text }}</p>
    {% endif %}

    <h4>Да ли се мери сврсисходност система вештачке интелигенције (одговара дефинисаној сврси)?</h4>
    <p>Одговор: {{ odgovor_pitanje35 }}</p>
    {% if odgovor_pitanje35 == 'Да, на начин:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje35_text }}</p>
    {% elif odgovor_pitanje35 == 'Не, зато што:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje35_text }}</p>
    {% endif %}

    <h4>Да ли од специфичног контекста и услова зависи поновљивост резултата рада система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje36 }}</p>
    {% if odgovor_pitanje36 == 'Да, од:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje36_text }}</p>
    {% endif %}

    <h4>Да ли се врше верификација и валидација поузданости и поновљивости система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje37 }}</p>
    {% if odgovor_pitanje37 == 'Да, на начин:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje37_text }}</p>
    {% endif %}

    <h4>Да ли се документује процес тестирања и верификације поузданости и поновљивости система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje38 }}</p>
    {% if odgovor_pitanje38 == 'Да, на начин:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje38_text }}</p>
    {% endif %}

    <h4>Да ли постоји план за исправљање грешака у систему вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje39 }}</p>

    <h4>Да ли постоји процедура за поступање у случајевима у којима систем вештачке интелигенције даје резултате с ниским резултатом поверења?</h4>
    <p>Одговор: {{ odgovor_pitanje40 }}</p>
    {% if odgovor_pitanje40 == 'Да (навести):' %}
    <p>Детаљан одговор: {{ odgovor_pitanje40_text }}</p>
    {% endif %}

    <h4>Да ли систем вештачке интелигенције користи континуирано учење?</h4>
    <p>Одговор: {{ odgovor_pitanje41 }}</p>

    <h4>Да ли су узете у обзир потенцијалне негативне последице учења система вештачке интелигенције које могу да утичу на резултат?</h4>
    <p>Одговор: {{ odgovor_pitanje42 }}</p>

    <h4>Да ли је анализиран утицај система вештачке интелигенције на право на приватност, право на физички, психички и/или морални интегритет, као и право на заштиту података о личности?</h4>
    <p>Одговор: {{ odgovor_pitanje43 }}</p>
    {% if odgovor_pitanje43 != 'Не' %}
    <p>Детаљан одговор: {{ odgovor_pitanje43_text }}</p>
    {% endif %}

    <h4>У зависности од случаја коришћења система вештачке интелигенције, да ли је успостављен механизам којим се посебно означавају елементи система који утичу на приватност?</h4>
    <p>Одговор: {{ odgovor_pitanje44 }}</p>
    {% if odgovor_pitanje44 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje44_text }}</p>
    {% endif %}

    <h4>Да ли ће припрема, тренирање, развој и коришћење система вештачке интелигенције захтевати обраду података о личности (укључујући посебне врсте података о личности)?</h4>
    <p>Одговор: {{ odgovor_pitanje45 }}</p>
    {% if odgovor_pitanje45 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje45_text }}</p>
    {% endif %}
    
    <h4>Да ли постоји правни основ за (намеравану) обраду података о личности?</h4>
    <p>Одговор: {{ odgovor_pitanje46 }}</p>
    {% if odgovor_pitanje46 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje46_text }}</p>
    {% endif %}

    <h4>Уколико се обрађују посебне врсте података о личности, да ли су испуњени услови за дозвољеност такве обраде?</h4>
    <p>Одговор: {{ odgovor_pitanje47 }}</p>

    <h4>Да ли је одређена (оправдана и законита) сврха обраде података о личности?</h4>
    <p>Одговор: {{ odgovor_pitanje48 }}</p>
    {% if odgovor_pitanje48 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje48_text }}</p>
    {% endif %}

    <h4>Да ли је област на коју се примењује систем вештачке интелигенције уређена посебним прописима и да ли се (намеравана) обрада података о личности врши у складу с тим посебним прописима?</h4>
    <p>Одговор: {{ odgovor_pitanje49 }}</p>
    {% if odgovor_pitanje49 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje49_text }}</p>
    {% endif %}

    <h4>Да ли је спроведена нека од следећих мера (од којих су неке обавезне према Закону о заштити података о личности („Сл. гласник РС“, број 87/2018) и закону/пропису друге земље/ЕУ чија је примена обавезна у конкретном случају)?</h4>
    <p>Одговор: {{ odgovor_pitanje50 }}</p>
    
    <h4>Да ли је у систему вештачке интелигенције омогућено да лице да опозив пристанка на обраду података о личности, приговор и брисање података о личности по захтеву лица на које се подаци односе?</h4>
    <p>Одговор: {{ odgovor_pitanje51 }}</p>

    <h4>Да ли су узете у обзир последице обраде података о личности по приватност лица и право на заштиту података о личности, током целокупног животног циклуса система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje52 }}</p>

    <h4>Да ли постоје последице по приватност и заштиту података о личности услед обраде других података у оквиру система вештачке интелигенције који нису подаци о личности?</h4>
    <p>Одговор: {{ odgovor_pitanje53 }}</p>

    <h4>Да ли је систем вештачке интелигенције усклађен са одговарајућим стандардима или другим општеприхваћеним протоколима за управљање подацима?</h4>
    <p>Одговор: {{ odgovor_pitanje54 }}</p>
    {% if odgovor_pitanje54 == 'Да, и то са:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje54_text }}</p>
    {% endif %}

    <h4>Да ли су успостављене мере за праћење система вештачке интелигенције током његовог читавог „животног“ циклуса?</h4>
    <p>Одговор: {{ odgovor_pitanje55 }}</p>
    
    <h4>Да ли постоји техничка документација (досје/портфолио) система вештачке интелигенције који се правовремено ажурира и да ли се та документација чува у складу са законом?</h4>
    <p>Одговор: {{ odgovor_pitanje56 }}</p>

    <h4>Да ли су успостављене мере за континуирано праћење квалитета улазних података система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje57 }}</p>
    <p>Детаљан одговор: {{ odgovor_pitanje57_text }}</p>  


    <h4>Да ли је могуће ретроактивно евидентирати који су подаци коришћени од стране система вештачке интелигенције да би се донела одређена одлука(е) или препорука(е)?</h4>
    <p>Одговор: {{ odgovor_pitanje58 }}</p>

    <h4>Да ли је могуће ретроактивно евидентирати који је модел или правило коришћено за доношење одређене одлуке(а) или препоруке(а)?</h4>
    <p>Одговор: {{ odgovor_pitanje59 }}</p>
    
    <h4>Да ли су успостављене мере за континуирану процену квалитета излазних резултата система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje60 }}</p> 
    <p>Детаљан одговор: {{ odgovor_pitanje60_text }}</p>  
    

    <h4>Да ли се у систему вештачке интелигенције врши евидентирање приступа систему од стране корисника при доношењу одлука и препорука?</h4>
    <p>Одговор: {{ odgovor_pitanje61 }}</p>

    <h4>Да ли се у систему вештачке интелигенције врши евидентирање метаподатака (датум и време почетка и завршетка коришћења система, базе података која је коришћена као референтни извор података у систему и др) о начину коришћења система?</h4>
    <p>Одговор: {{ odgovor_pitanje62 }}</p>
    {% if odgovor_pitanje62 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje62_text }}</p>
    {% endif %}

    <h4>Да ли се у систему вештачке интелигенције врши евидентирање приступа систему од стране лица која контролишу процес доношења одлука?</h4>
    <p>Одговор: {{ odgovor_pitanje63 }}</p>

    <h4>Да ли је креиран документ који на јасан начин објашњава модел Система на начин да пружа информације о: 1) сврси алгоритма, 2) скупу података на којима је модел трениран, 3) извору и начину прикупљања података, 4) својствима алгоритма?</h4>
    <p>Одговор: {{ odgovor_pitanje64 }}</p>
    {% if odgovor_pitanje64 == 'Да, и то за: (означи број)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje64_text }}</p>
    {% endif %}

    <h4>Да ли је корисницима објашњен начин на који систем вештачке интелигенције предлаже одлуке?</h4>
    <p>Одговор: {{ odgovor_pitanje65 }}</p>
    <p>Детаљан одговор: {{ odgovor_pitanje65_text }}</p>

    <h4>Да ли је успостављен механизам за праћење степена разумевања корисника (оптималног обима/степена објашњења)?</h4>
    <p>Одговор: {{ odgovor_pitanje66 }}</p>
    {% if odgovor_pitanje66 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje66_text }}</p>
    {% endif %}

    <h4>Да ли се континуирано прати и анализира разумевање корисника ради организовања додатних обука или вршења одговарајућих корекција система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje67 }}</p>
    {% if odgovor_pitanje67 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje67_text }}</p>
    {% endif %}

    <h4>У случају коришћења интерактивних система вештачке интелигенције (чет-ботови, робо-адвокати), да ли су корисници обавештени да су у интеракцији са системом вештачке интелигенције, а не с људским бићем?</h4>
    <p>Одговор: {{ odgovor_pitanje68 }}</p>

    <h4>Да ли је кориснику који не жели да комуницира са системом вештачке интелигенције обезбеђен други начин комуникације?</h4>
    <p>Одговор: {{ odgovor_pitanje69 }}</p>
    {% if odgovor_pitanje69 == 'Да и то: (навести начин)' %}
    <p>Детаљан одговор: {{ odgovor_pitanje69_text }}</p>
    {% endif %}
    
    <h4>Да ли је успостављен механизам за информисање о намени и критеријумима на основу којих се доноси одлука?</h4>
    <p>Одговор: {{ odgovor_pitanje70 }}</p>
    {% if odgovor_pitanje70 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje70_text }}</p>
    {% endif %}

    <h4>Да ли су корисници информисани о предностима коришћења система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje71 }}</p>
    {% if odgovor_pitanje71 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje71_text }}</p>
    {% endif %}

    <h4>Да ли су корисници обавештени о техничким ограничењима и потенцијалним ризицима система вештачке интелигенције значајним за доношење одлуке (нпр. који је ниво тачности и/или распон могућих грешака система)?</h4>
    <p>Одговор: {{ odgovor_pitanje72 }}</p>

    <h4>Да ли је припремљен материјал за обуку за адекватно коришћење система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje73 }}</p>

    <p>Да ли постоје дефинисане процедуре за спречавање креирања или подстицања предрасуда у систему вештачке интелигенције, како при избору улазних података, тако и креирању алгоритма?</p>
    <p>Одговор: {{ odgovor_pitanje74 }}</p>

    <h4>Да ли се врши едукација и подизање свести лица која учествују у стварању система вештачке интелигенције (дизајнери, програмери и др) како да препознају дискриминацију и предрасуде?</h4>
    <p>Одговор: {{ odgovor_pitanje75 }}</p>
    {% if odgovor_pitanje75 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje75_text }}</p>
    {% endif %}

    <p>Да ли постоји механизам који у систему вештачке интелигенције препознаје предрасуде и дискриминацију?</p>
    <p>Одговор: {{ odgovor_pitanje76 }}</p>

    <p>Да ли се дефиниција равноправности користи и примењује у свим фазама процеса успостављања система вештачке интелигенције?</p>
    <p>Одговор: {{ odgovor_pitanje77 }}</p>

    <h4>Да ли систем вештачке интелигенције одговара различитим афинитетима и могућностима?</h4>
    <p>Одговор: {{ odgovor_pitanje78 }}</p>

    <p>Да ли систем вештачке интелигенције могу да користе особе са инвалидитетом или друге посебно осетљиве групе, као и маргинализоване групе (могућност избора више од једног одговора)?</p>
    <p>Одговор: {{ odgovor_pitanje79 }}</p>

    <h4>Да ли је током развоја система обезбеђен принцип универзалног дизајна, ако је применљиво?</h4>
    <p>Одговор: {{ odgovor_pitanje80 }}</p>

    <h4>Да ли је извршена процена примене система вештачке интелигенције на групе које би могле бити погођене исходима примене система?</h4>
    <p>Одговор: {{ odgovor_pitanje81 }}</p>

    <h4>Да ли су приликом развоја система вештачке интелигенције консултоване све заинтересоване стране?</h4>
    <p>Одговор: {{ odgovor_pitanje82 }}</p>
    {% if odgovor_pitanje82 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje82_text }}</p>
    {% endif %}

    <h4>Да ли су запослена/ангажована лица експлицитно упозната с непосредним или посредним ефектима које вештачка интелигенција има или може да има на њихов радни статус и права?</h4>
    <p>Одговор: {{ odgovor_pitanje83 }}</p>
    {% if odgovor_pitanje83 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje83_text }}</p>
    {% endif %}

    <h4>Да ли су запослена/ангажована лица имали обуку која им пружа знање о функционисању вештачке интелигенције и њеном утицају на њихов радни статус и права?</h4>
    <p>Одговор: {{ odgovor_pitanje84 }}</p>
    {% if odgovor_pitanje84 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje84_text }}</p>
    {% endif %}

    <h4>Да ли је запосленим/ангажованим лицима и синдикатима омогућено да траже и добију податке о високоризичним системима вештачке интелигенције који утичу на њихов радни статус и права у вези са тим?</h4>
    <p>Одговор: {{ odgovor_pitanje85 }}</p>

    <h4>Да ли ће се након пуштања у рад система спроводити периодична испитивања корисника система, а у циљу контроле истог?</h4>
    <p>Одговор: {{ odgovor_pitanje86 }}</p>
    {% if odgovor_pitanje86 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje86_text }}</p>
    {% endif %}

    <h4>Да ли постоје потенцијални негативни утицаји система вештачке интелигенције на животну средину?</h4>
    <p>Одговор: {{ odgovor_pitanje87 }}</p>
    {% if odgovor_pitanje87 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje87_text }}</p>
    {% endif %}

    <h4>Да ли су успостављени механизми за процену утицаја развоја, примене и/или коришћења система вештачке интелигенције на животну средину (на пример, количина употребљене енергије и емисије угљеника)?</h4>
    <p>Одговор: {{ odgovor_pitanje88 }}</p>
    {% if odgovor_pitanje88 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje88_text }}</p>
    {% endif %}

    <h4>Да ли су дефинисане мере за смањење утицаја система вештачке интелигенције на животну средину током његовог животног циклуса?</h4>
    <p>Одговор: {{ odgovor_pitanje89 }}</p>
    {% if odgovor_pitanje89 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje89_text }}</p>
    {% endif %}

    <h4>Да ли систем вештачке интелигенције утиче на радно ангажовање и начин рада?</h4>
    <p>Одговор: {{ odgovor_pitanje90 }}</p>

    <h4>Да ли су пре увођења система вештачке интелигенције о томе обавештени и консултовани запослени/ангажовани на чији ће рад увођење система утицати, као и на њихове представнике (синдикате и сл)?</h4>
    <p>Одговор: {{ odgovor_pitanje91 }}</p>

    <h4>Да ли су предузете одговарајуће мере које ће обезбедити разумевање утицаја система вештачке интелигенције на начин рада запослених/ангажованих?</h4>
    <p>Одговор: {{ odgovor_pitanje92 }}</p>
    {% if odgovor_pitanje92 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje92_text }}</p>
    {% endif %}

    <h4>Да ли коришћење система вештачке интелигенције ствара ризик од деквалификације запослених/ангажованих?</h4>
    <p>Одговор: {{ odgovor_pitanje93 }}</p>

    <h4>Да ли су предузете одговарајуће мере да се спречи ризик од губитка вештина?</h4>
    <p>Одговор: {{ odgovor_pitanje94 }}</p>
    {% if odgovor_pitanje94 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje94_text }}</p>
    {% endif %}

    <h4>Да ли коришћење система вештачке интелигенције промовише или захтева нове (дигиталне) вештине?</h4>
    <p>Одговор: {{ odgovor_pitanje95 }}</p>

    <h4>Да ли су припремљени корисничко упутство и други материјали неопходни за усавршавање запослених/ангажованих?</h4>
    <p>Одговор: {{ odgovor_pitanje96 }}</p>

    <h4>Да ли се реализују обуке запослених/ангажованих?</h4>
    <p>Одговор: {{ odgovor_pitanje97 }}</p>

    <h4>Да ли систем вештачке интелигенције може имати негативан утицај на друштво у целини или на демократију?</h4>
    <p>Одговор: {{ odgovor_pitanje98 }}</p>

    <h4>Да ли је процењен посредан утицај коришћења система вештачке интелигенције на све заинтересоване стране или друштво у целини?</h4>
    <p>Одговор: {{ odgovor_pitanje99 }}</p>

    <h4>Да ли су предузете одговарајуће мере које смањују потенцијалан штетни утицај на друштво?</h4>
    <p>Одговор: {{ odgovor_pitanje100 }}</p>
    {% if odgovor_pitanje100 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje100_text }}</p>
    {% endif %}

    <h4>Да ли су предузете мере које обезбеђују да систем вештачке интелигенције не утиче негативно на демократију?</h4>
    <p>Одговор: {{ odgovor_pitanje101 }}</p>
    {% if odgovor_pitanje101 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje101_text }}</p>
    {% endif %}

    <h4>Да ли је успостављен механизам којим се омогућава ревизија система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje102 }}</p>

    <h4>Да ли је омогућено да (независно) треће лице може да изврши ревизију система вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje103 }}</p>

    <h4>Да ли је дефинисан процес ревизије од стране трећих лица који обухвата испитивање етичких питања и мера праћења одговорности?</h4>
    <p>Одговор: {{ odgovor_pitanje104 }}</p>
    {% if odgovor_pitanje104 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje104_text }}</p>
    {% endif %}

    <h4>Да ли је организована обука о ризицима коришћења система вештачке интелигенције и одговарајућем правном оквиру?</h4>
    <p>Одговор: {{ odgovor_pitanje105 }}</p>
    {% if odgovor_pitanje105 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje105_text }}</p>
    {% endif %}

    <h4>Да ли имате одбор који се бави етичким питањима примене система вештачке интелигенције, или сличан механизам којим се обезбеђује дискусија о одговорности и етичким праксама?</h4>
    <p>Одговор: {{ odgovor_pitanje106 }}</p>
    {% if odgovor_pitanje106 == 'Да, и то:' %}
    <p>Детаљан одговор: {{ odgovor_pitanje106_text }}</p>
    {% endif %}

    <h4>Да ли је успостављен механизам за дискусију, континуирано праћење и процену доследности примене ових Смерница за систем вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje107 }}</p>

    <h4>Да ли предвиђени процес укључује идентификацију и документовање неусаглашених ставова у вези с различитим етичким принципима и објашњењима одлука?</h4>
    <p>Одговор: {{ odgovor_pitanje108 }}</p>

    <h4>Да ли је спроведена обука лица укључених у процес?</h4>
    <p>Одговор: {{ odgovor_pitanje109 }}</p>

    <h4>Да ли је трећим лицима (добављачима, крајњим корисницима, дистрибутерима/продавцима и др) омогућена пријава потенцијалних рањивости, ризика и/или дискриминације у систему вештачке интелигенције?</h4>
    <p>Одговор: {{ odgovor_pitanje110 }}</p>

    <h4>Да ли евентуалне пријаве рањивости, ризика и дискриминације захтевају ревизију процеса управљања ризиком?</h4>
    <p>Одговор: {{ odgovor_pitanje111 }}</p>

    <h4>У случају чињења штете појединцима да ли је успостављен механизам за обештећење?</h4>
    <p>Одговор: {{ odgovor_pitanje112 }}</p>

    
    <!-- Dodajte sličan kod za ostala pitanja -->
    <!-- ... -->

<br><br>
    <!-- Dodajemo dugme za čuvanje i preuzimanje PDF-a -->
    <form id="kraj" action="/preuzmi_pdf" method="GET">
        <input type="hidden" name="jedinstveni_id" value="{{ jedinstveni_id }}">
        <button type="submit" name="download" value="true">Сачувај и преузми ПДФ</button>
    </form>

</body>
</html>
