<!DOCTYPE html>
<html>
<head>
    <title>Одговорност</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img id="logo" src= "\static\pictures\logo-nitra-hor-cir.svg" alt= "png-image" />
    <br><br>
    <h2>Препоруке</h2>
    <br>
        <p>Препоруке за постизање и унапређење одговорности су:
        </p>
        <br>
            <li>Креирати правила и политике које су прецизне и приступачне дизајнерима и развојним тимовима, како не би било спорних питања у вези са задужењима и одговорностима.</li>
            
            <li>Одредити где престаје одговорност оних који су развили Систем. Ово је посебно важно јер они који су развијали Систем неће имати контролу тога како се он користи.</li>
            
            <li>Водити евиденцију о процесима дизајнирања, развоја функционалности и начина на који Систем доноси одлуке. Уредити ову процедуру посебним документом.</li>
            
            <li>Ускладити коришћење и резултат рада Система с прописима и међународним стандардима приликом креирања Система.</li>
            
            <li>Консултовати релевантна тела и органе у Републици Србији у вези с питањима која стварају недоумице ради добијања стручног савета или помоћи оних који раде на креирању политике вештачке интелигенције у Републици Србији или институција које врше контролу система вештачке интелигенције.</li>
            
            <li>У рад укључити лица која би помогла да се разумеју правна и етичка питања у холистичком приступу (нпр. социолога, лингвисту, бихевиористу, професоре и сл.).</li>
            
            <br>
                 <p>Пример одговорности: Тим користи истраживаче дизајна да контактирају праве госте у хотелима како би путем интервјуа лицем у лице с корисницима разумели њихове жеље и потребе. Тим прихвата сопствену одговорност у ситуацији када повратне информације хотелског асистента не испуњавају потребе или очекивања гостију. Они су применили петљу учења с повратном информацијом како би боље разумели преференције и истакли могућност да гости искључе вештачку интелигенцију у било ком тренутку током свог боравка.
            </p>
  
            <br>
            <a id="button" href="/odgovornost">Врати се назад</a></li>
            <a id="button" href="/kraj_upitnika">Крај упитника</a></li>
</body>
</html>
