
Да ли је систем вештачке интелигенције дизајниран да:
Одговор: {{ odgovor_pitanje1 }}

Да ли је лице које користи и/или лице на које систем вештачке интелигенције утиче свесно да је у интеракцији са системом?
Одговор: {{ odgovor_pitanje2 }}
{% if odgovor_pitanje2 == 'Да, и то: (на начин)' %}
Детаљан одговор: {{ odgovor_pitanje2_text }}
{% endif %}

Да ли је лице које користи и/или лице на које систем вештачке интелигенције утиче обавештено да је одлука, садржај, савет или исход резултат алгоритамске одлуке?
Одговор: {{ odgovor_pitanje3 }}
{% if odgovor_pitanje3 == 'Да, и то: (на начин)' %}
Детаљан одговор: {{ odgovor_pitanje3_text }}
{% endif %}

У којој мери систем вештачке интелигенције може да утиче на аутономију личности при доношењу одлука?
Одговор: {{ odgovor_pitanje4 }}

Да ли су успостављене процедуре којима се лицу које користи систем вештачке интелигенције онемогућава да се, при доношењу одлука, ослања искључиво на систем вештачке интелигенције?
Одговор: {{ odgovor_pitanje5 }}
{% if odgovor_pitanje5 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje5_text }}
{% endif %}

Да ли постоји процедура којом се спречава да систем вештачке интелигенције ненамерно (самосталним учењем) утиче на аутономију личности?
Одговор: {{ odgovor_pitanje6 }}
{% if odgovor_pitanje6 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje6_text }}
{% endif %}

Да ли постоји процедура којом се спречавају могуће негативне последице по лица која користе као и лица на које систем утиче ако развију зависност од система вештачке интелигенције?
Одговор: {{ odgovor_pitanje7 }}
{% if odgovor_pitanje7 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje7_text }}
{% endif %}

Да ли су предузете мере за смањење ризика од зависности лица која користе као и лица на које систем утиче од коришћења система вештачке интелигенције?
Одговор: {{ odgovor_pitanje8 }}
{% if odgovor_pitanje8 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje8_text }}
{% endif %}

Да ли је систем вештачке интелигенције:
Одговор: {{ odgovor_pitanje9 }}

Да ли су лица која врше контролу обучена за те послове?
Одговор: {{ odgovor_pitanje10 }}

Да ли су успостављени механизми откривања и реаговања на нежељене штетне ефекте система вештачке интелигенције?
Одговор: {{ odgovor_pitanje11 }}
{% if odgovor_pitanje11 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje11_text }}
{% endif %}

Да ли постоји „дугме за заустављање“ или процедура за безбедно прекидање операције када је то потребно?
Одговор: {{ odgovor_pitanje12 }}
{% if odgovor_pitanje12 == 'Да, постоји:' %}
Детаљан одговор: {{ odgovor_pitanje12_text }}
{% endif %}

Да ли су развијене посебне контролне мере за евидентирање самоучења или аутономне природе система?
Одговор: {{ odgovor_pitanje13 }}
{% if odgovor_pitanje13 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje13_text }}
{% endif %}

Да ли систем вештачке интелигенције припада информационо-комуникационој (ИКТ) инфраструктури од посебног значаја?
Одговор: {{ odgovor_pitanje14 }}

Да ли је систем вештачке интелигенције сертификован у складу са стандардима у области информационе безбедности (нпр. ИСО 27000 и др) или је усклађен са овим стандардима?
Одговор: {{ odgovor_pitanje15 }}
{% if odgovor_pitanje15 == 'Да, сертификован је по стандарду … (навести којем)' %}
Детаљан одговор: {{ odgovor_pitanje15_text }}
{% elif odgovor_pitanje15 == 'Да, усклађен је са стандардом … (навести којем)' %}
Детаљан одговор: {{ odgovor_pitanje15_text }}

{% endif %}

Да ли су препознати потенцијални облици претњи (напада) на које би систем вештачке интелигенције могао бити рањив?
Одговор: {{ odgovor_pitanje16 }}
{% if odgovor_pitanje16 == 'Да, и то: (навести који су, нпр. дефекти у дизајну, техничке грешке…)' %}
Детаљан одговор: {{ odgovor_pitanje16_text }}
{% endif %}

Да ли су узете у обзир различите врсте рањивости и потенцијалне улазне тачке напада, и то (означити ако су узете у обзир):
Одговор: {{ odgovor_pitanje17 }}
{% if odgovor_pitanje17 == 'Друго:' %}
Детаљан одговор: {{ odgovor_pitanje17_text }}
{% endif %}

Да ли систем вештачке интелигенције припада информационо-комуникационој (ИКТ) инфраструктури од посебног значаја?
Одговор: {{ odgovor_pitanje18 }}
{% if odgovor_pitanje18 != 'Нису предузете посебне мере' %}
Детаљан одговор: {{ odgovor_pitanje18_text }}

{% endif %}

Да ли је извршено тестирање неовлашћеног приступа Систему (нпр. пенетрационо тестирање)?
Одговор: {{ odgovor_pitanje19 }}
{% if odgovor_pitanje19 == 'Да, коришћен је алат:' %}
Детаљан одговор: {{ odgovor_pitanje19_text }}
{% elif odgovor_pitanje19 == 'Да, појединих делова Система и то:' %}
Детаљан одговор: {{ odgovor_pitanje19_text }}
{% endif %}

Која софтверска решења користите за заштиту од напада на систем вештачке интелигенције?
Одговор: {{ odgovor_pitanje20 }}
{% if odgovor_pitanje20 == 'Користи се:' %}
Детаљан одговор: {{ odgovor_pitanje20_text }}
{% endif %}

Који је временски период у коме је обезбеђено ажурирање система вештачке интелигенције које ће отклањати откривене безбедносне пропусте?
Одговор: {{ odgovor_pitanje21 }}

Да ли су дефинисани ризици, метрике ризика и нивои ризика система вештачке интелигенције?
Одговор: {{ odgovor_pitanje21 }}
{% if odgovor_pitanje21 == 'Да, и то: (навести ризике)' %}
Детаљан одговор: {{ odgovor_pitanje21_text }}
{% endif %}

Да ли је успостављен процес за континуирано мерење и процену ризика? 
Одговор: {{ odgovor_pitanje23 }}

Да ли су крајњи корисници и субјекти обавештени о постојећим или потенцијалним ризицима?
Одговор: {{ odgovor_pitanje24 }}
{% if odgovor_pitanje24 == 'Да, обавештени су (навести на који начин)' %}
Детаљан одговор: {{ odgovor_pitanje24_text }}
{% endif %}

Да ли су идентификоване могуће последице напада (инцидената)?
Одговор: {{ odgovor_pitanje25 }}
{% if odgovor_pitanje25 == 'Да, и то: (навести последице)' %}
Детаљан одговор: {{ odgovor_pitanje25_text }}
{% endif %}

Да ли је извршена процена утицаја стабилности и поузданости Система на доношење одлука (ризик од компромитовања података и алгоритама)?
Одговор: {{ odgovor_pitanje26 }}
{% if odgovor_pitanje26 == 'Да, и то: (навести процену)' %}
Детаљан одговор: {{ odgovor_pitanje26_text }}
{% endif %}

Да ли је тестирање Система усклађено са одговарајућим нивоима стабилности и поузданости?
Одговор: {{ odgovor_pitanje27 }}
{% if odgovor_pitanje27 == 'Да, и то: (навести процену)' %}
Детаљан одговор: {{ odgovor_pitanje27_text }}
{% endif %}

Да ли је планирана толеранција грешке?
Одговор: {{ odgovor_pitanje28 }}

Да ли је развијен механизам за процену промена у раду система вештачке интелигенције како би се испитале његова стабилност, поузданост и сигурност?
Одговор: {{ odgovor_pitanje29 }}
{% if odgovor_pitanje29 == 'Да, користи се (навести шта)' %}
Детаљан одговор: {{ odgovor_pitanje29_text }}
{% endif %}

Које су мере предузете како би се осигурало да подаци који се користе за развој система вештачке интелигенције буду тачни, ажурни, потпуни и репрезентативни?
Одговор: {{ odgovor_pitanje30 }}
{% if odgovor_pitanje30 == 'Мере које су предузете су:' %}
Детаљан одговор: {{ odgovor_pitanje30_text }}
{% endif %}

Како се врши праћење и документовање прецизности система вештачке интелигенције?
Одговор: {{ odgovor_pitanje31 }}
{% if odgovor_pitanje31 == 'Врши се: (навести како)' %}
Детаљан одговор: {{ odgovor_pitanje31_text }}
{% endif %}

Да ли је урађена статистичка анализа и да ли су могући сценарији или могуће категорије класификације равномерно или адекватно заступљене?
Одговор: {{ odgovor_pitanje32 }}
{% if odgovor_pitanje32 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje32_text }}
{% endif %}

Да ли се о нивоу прецизности, одзива и тачности система вештачке интелигенције обавештавају крајњи корисници и/или субјекти?
Одговор: {{ odgovor_pitanje33 }}
{% if odgovor_pitanje33 == 'Да, и то: (навести на који начин)' %}
Детаљан одговор: {{ odgovor_pitanje33_text }}
{% endif %}

Да ли систем вештачке интелигенције може да изазове критичне, супротстављене или штетне последице у случају ниске поузданости и/или поновљивости резултата рада система?
Одговор: {{ odgovor_pitanje34 }}
{% if odgovor_pitanje34 == 'Систем је поуздан јер је извршено:' %}
Детаљан одговор: {{ odgovor_pitanje34_text }}
{% endif %}

Да ли се мери сврсисходност система вештачке интелигенције (одговара дефинисаној сврси)?
Одговор: {{ odgovor_pitanje35 }}
{% if odgovor_pitanje35 == 'Да, на начин:' %}
Детаљан одговор: {{ odgovor_pitanje35_text }}
{% elif odgovor_pitanje35 == 'Не, зато што:' %}
Детаљан одговор: {{ odgovor_pitanje35_text }}
{% endif %}

Да ли од специфичног контекста и услова зависи поновљивост резултата рада система вештачке интелигенције?
Одговор: {{ odgovor_pitanje36 }}
{% if odgovor_pitanje36 == 'Да, од:' %}
Детаљан одговор: {{ odgovor_pitanje36_text }}
{% endif %}

Да ли се врше верификација и валидација поузданости и поновљивости система вештачке интелигенције?
Одговор: {{ odgovor_pitanje37 }}
{% if odgovor_pitanje37 == 'Да, на начин:' %}
Детаљан одговор: {{ odgovor_pitanje37_text }}
{% endif %}

Да ли се документује процес тестирања и верификације поузданости и поновљивости система вештачке интелигенције?
Одговор: {{ odgovor_pitanje38 }}
{% if odgovor_pitanje38 == 'Да, на начин:' %}
Детаљан одговор: {{ odgovor_pitanje38_text }}
{% endif %}

Да ли постоји план за исправљање грешака у систему вештачке интелигенције?
Одговор: {{ odgovor_pitanje39 }}

Да ли постоји процедура за поступање у случајевима у којима систем вештачке интелигенције даје резултате с ниским резултатом поверења?
Одговор: {{ odgovor_pitanje40 }}
{% if odgovor_pitanje40 == 'Да (навести):' %}
Детаљан одговор: {{ odgovor_pitanje40_text }}
{% endif %}

Да ли систем вештачке интелигенције користи континуирано учење?
Одговор: {{ odgovor_pitanje41 }}

Да ли су узете у обзир потенцијалне негативне последице учења система вештачке интелигенције које могу да утичу на резултат?
Одговор: {{ odgovor_pitanje42 }}

Да ли је анализиран утицај система вештачке интелигенције на право на приватност, право на физички, психички и/или морални интегритет, као и право на заштиту података о личности?
Одговор: {{ odgovor_pitanje43 }}
{% if odgovor_pitanje43 != 'Не' %}
Детаљан одговор: {{ odgovor_pitanje43_text }}
{% endif %}

У зависности од случаја коришћења система вештачке интелигенције, да ли је успостављен механизам којим се посебно означавају елементи система који утичу на приватност?
Одговор: {{ odgovor_pitanje44 }}
{% if odgovor_pitanje44 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje44_text }}
{% endif %}

Да ли ће припрема, тренирање, развој и коришћење система вештачке интелигенције захтевати обраду података о личности (укључујући посебне врсте података о личности)?
Одговор: {{ odgovor_pitanje45 }}
{% if odgovor_pitanje45 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje45_text }}
{% endif %}

Да ли постоји правни основ за (намеравану) обраду података о личности?
Одговор: {{ odgovor_pitanje46 }}
{% if odgovor_pitanje46 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje46_text }}
{% endif %}

Уколико се обрађују посебне врсте података о личности, да ли су испуњени услови за дозвољеност такве обраде?
Одговор: {{ odgovor_pitanje47 }}

Да ли је одређена (оправдана и законита) сврха обраде података о личности?
Одговор: {{ odgovor_pitanje48 }}
{% if odgovor_pitanje48 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje48_text }}
{% endif %}

Да ли је област на коју се примењује систем вештачке интелигенције уређена посебним прописима и да ли се (намеравана) обрада података о личности врши у складу с тим посебним прописима?
Одговор: {{ odgovor_pitanje49 }}
{% if odgovor_pitanje49 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje49_text }}
{% endif %}

Да ли је спроведена нека од следећих мера (од којих су неке обавезне према Закону о заштити података о личности („Сл. гласник РС“, број 87/2018) и закону/пропису друге земље/ЕУ чија је примена обавезна у конкретном случају)?
Одговор: {{ odgovor_pitanje50 }}

Да ли је у систему вештачке интелигенције омогућено да лице да опозив пристанка на обраду података о личности, приговор и брисање података о личности по захтеву лица на које се подаци односе?
Одговор: {{ odgovor_pitanje51 }}

Да ли су узете у обзир последице обраде података о личности по приватност лица и право на заштиту података о личности, током целокупног животног циклуса система вештачке интелигенције?
Одговор: {{ odgovor_pitanje52 }}

Да ли постоје последице по приватност и заштиту података о личности услед обраде других података у оквиру система вештачке интелигенције који нису подаци о личности?
Одговор: {{ odgovor_pitanje53 }}

Да ли је систем вештачке интелигенције усклађен са одговарајућим стандардима или другим општеприхваћеним протоколима за управљање подацима?
Одговор: {{ odgovor_pitanje54 }}
{% if odgovor_pitanje54 == 'Да, и то са:' %}
Детаљан одговор: {{ odgovor_pitanje54_text }}
{% endif %}

Да ли су успостављене мере за праћење система вештачке интелигенције током његовог читавог „животног“ циклуса?
Одговор: {{ odgovor_pitanje55 }}

Да ли постоји техничка документација (досје/портфолио) система вештачке интелигенције који се правовремено ажурира и да ли се та документација чува у складу са законом?
Одговор: {{ odgovor_pitanje56 }}

Да ли су успостављене мере за континуирано праћење квалитета улазних података система вештачке интелигенције?
Одговор: {{ odgovor_pitanje57 }}
Детаљан одговор: {{ odgovor_pitanje57_text }}  


Да ли је могуће ретроактивно евидентирати који су подаци коришћени од стране система вештачке интелигенције да би се донела одређена одлука(е) или препорука(е)?
Одговор: {{ odgovor_pitanje58 }}

Да ли је могуће ретроактивно евидентирати који је модел или правило коришћено за доношење одређене одлуке(а) или препоруке(а)?
Одговор: {{ odgovor_pitanje59 }}

Да ли су успостављене мере за континуирану процену квалитета излазних резултата система вештачке интелигенције?
Одговор: {{ odgovor_pitanje60 }} 
Детаљан одговор: {{ odgovor_pitanje60_text }}  


Да ли се у систему вештачке интелигенције врши евидентирање приступа систему од стране корисника при доношењу одлука и препорука?
Одговор: {{ odgovor_pitanje61 }}

Да ли се у систему вештачке интелигенције врши евидентирање метаподатака (датум и време почетка и завршетка коришћења система, базе података која је коришћена као референтни извор података у систему и др) о начину коришћења система?
Одговор: {{ odgovor_pitanje62 }}
{% if odgovor_pitanje62 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje62_text }}
{% endif %}

Да ли се у систему вештачке интелигенције врши евидентирање приступа систему од стране лица која контролишу процес доношења одлука?
Одговор: {{ odgovor_pitanje63 }}

Да ли је креиран документ који на јасан начин објашњава модел Система на начин да пружа информације о: 1) сврси алгоритма, 2) скупу података на којима је модел трениран, 3) извору и начину прикупљања података, 4) својствима алгоритма?
Одговор: {{ odgovor_pitanje64 }}
{% if odgovor_pitanje64 == 'Да, и то за: (означи број)' %}
Детаљан одговор: {{ odgovor_pitanje64_text }}
{% endif %}

Да ли је корисницима објашњен начин на који систем вештачке интелигенције предлаже одлуке?
Одговор: {{ odgovor_pitanje65 }}
Детаљан одговор: {{ odgovor_pitanje65_text }}

Да ли је успостављен механизам за праћење степена разумевања корисника (оптималног обима/степена објашњења)?
Одговор: {{ odgovor_pitanje66 }}
{% if odgovor_pitanje66 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje66_text }}
{% endif %}

Да ли се континуирано прати и анализира разумевање корисника ради организовања додатних обука или вршења одговарајућих корекција система вештачке интелигенције?
Одговор: {{ odgovor_pitanje67 }}
{% if odgovor_pitanje67 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje67_text }}
{% endif %}

У случају коришћења интерактивних система вештачке интелигенције (чет-ботови, робо-адвокати), да ли су корисници обавештени да су у интеракцији са системом вештачке интелигенције, а не с људским бићем?
Одговор: {{ odgovor_pitanje68 }}

Да ли је кориснику који не жели да комуницира са системом вештачке интелигенције обезбеђен други начин комуникације?
Одговор: {{ odgovor_pitanje69 }}
{% if odgovor_pitanje69 == 'Да и то: (навести начин)' %}
Детаљан одговор: {{ odgovor_pitanje69_text }}
{% endif %}

Да ли је успостављен механизам за информисање о намени и критеријумима на основу којих се доноси одлука?
Одговор: {{ odgovor_pitanje70 }}
{% if odgovor_pitanje70 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje70_text }}
{% endif %}

Да ли су корисници информисани о предностима коришћења система вештачке интелигенције?
Одговор: {{ odgovor_pitanje71 }}
{% if odgovor_pitanje71 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje71_text }}
{% endif %}

Да ли су корисници обавештени о техничким ограничењима и потенцијалним ризицима система вештачке интелигенције значајним за доношење одлуке (нпр. који је ниво тачности и/или распон могућих грешака система)?
Одговор: {{ odgovor_pitanje72 }}

Да ли је припремљен материјал за обуку за адекватно коришћење система вештачке интелигенције?
Одговор: {{ odgovor_pitanje73 }}

Да ли постоје дефинисане процедуре за спречавање креирања или подстицања предрасуда у систему вештачке интелигенције, како при избору улазних података, тако и креирању алгоритма?
Одговор: {{ odgovor_pitanje74 }}

Да ли се врши едукација и подизање свести лица која учествују у стварању система вештачке интелигенције (дизајнери, програмери и др) како да препознају дискриминацију и предрасуде?
Одговор: {{ odgovor_pitanje75 }}
{% if odgovor_pitanje75 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje75_text }}
{% endif %}

Да ли постоји механизам који у систему вештачке интелигенције препознаје предрасуде и дискриминацију?
Одговор: {{ odgovor_pitanje76 }}

Да ли се дефиниција равноправности користи и примењује у свим фазама процеса успостављања система вештачке интелигенције?
Одговор: {{ odgovor_pitanje77 }}

Да ли систем вештачке интелигенције одговара различитим афинитетима и могућностима?
Одговор: {{ odgovor_pitanje78 }}

Да ли систем вештачке интелигенције могу да користе особе са инвалидитетом или друге посебно осетљиве групе, као и маргинализоване групе (могућност избора више од једног одговора)?
Одговор: {{ odgovor_pitanje79 }}

Да ли је током развоја система обезбеђен принцип универзалног дизајна, ако је применљиво?
Одговор: {{ odgovor_pitanje80 }}

Да ли је извршена процена примене система вештачке интелигенције на групе које би могле бити погођене исходима примене система?
Одговор: {{ odgovor_pitanje81 }}

Да ли су приликом развоја система вештачке интелигенције консултоване све заинтересоване стране?
Одговор: {{ odgovor_pitanje82 }}
{% if odgovor_pitanje82 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje82_text }}
{% endif %}

Да ли су запослена/ангажована лица експлицитно упозната с непосредним или посредним ефектима које вештачка интелигенција има или може да има на њихов радни статус и права?
Одговор: {{ odgovor_pitanje83 }}
{% if odgovor_pitanje83 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje83_text }}
{% endif %}

Да ли су запослена/ангажована лица имали обуку која им пружа знање о функционисању вештачке интелигенције и њеном утицају на њихов радни статус и права?
Одговор: {{ odgovor_pitanje84 }}
{% if odgovor_pitanje84 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje84_text }}
{% endif %}

Да ли је запосленим/ангажованим лицима и синдикатима омогућено да траже и добију податке о високоризичним системима вештачке интелигенције који утичу на њихов радни статус и права у вези са тим?
Одговор: {{ odgovor_pitanje85 }}

Да ли ће се након пуштања у рад система спроводити периодична испитивања корисника система, а у циљу контроле истог?
Одговор: {{ odgovor_pitanje86 }}
{% if odgovor_pitanje86 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje86_text }}
{% endif %}

Да ли постоје потенцијални негативни утицаји система вештачке интелигенције на животну средину?
Одговор: {{ odgovor_pitanje87 }}
{% if odgovor_pitanje87 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje87_text }}
{% endif %}

Да ли су успостављени механизми за процену утицаја развоја, примене и/или коришћења система вештачке интелигенције на животну средину (на пример, количина употребљене енергије и емисије угљеника)?
Одговор: {{ odgovor_pitanje88 }}
{% if odgovor_pitanje88 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje88_text }}
{% endif %}

Да ли су дефинисане мере за смањење утицаја система вештачке интелигенције на животну средину током његовог животног циклуса?
Одговор: {{ odgovor_pitanje89 }}
{% if odgovor_pitanje89 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje89_text }}
{% endif %}

Да ли систем вештачке интелигенције утиче на радно ангажовање и начин рада?
Одговор: {{ odgovor_pitanje90 }}

Да ли су пре увођења система вештачке интелигенције о томе обавештени и консултовани запослени/ангажовани на чији ће рад увођење система утицати, као и на њихове представнике (синдикате и сл)?
Одговор: {{ odgovor_pitanje91 }}

Да ли су предузете одговарајуће мере које ће обезбедити разумевање утицаја система вештачке интелигенције на начин рада запослених/ангажованих?
Одговор: {{ odgovor_pitanje92 }}
{% if odgovor_pitanje92 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje92_text }}
{% endif %}

Да ли коришћење система вештачке интелигенције ствара ризик од деквалификације запослених/ангажованих?
Одговор: {{ odgovor_pitanje93 }}

Да ли су предузете одговарајуће мере да се спречи ризик од губитка вештина?
Одговор: {{ odgovor_pitanje94 }}
{% if odgovor_pitanje94 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje94_text }}
{% endif %}

Да ли коришћење система вештачке интелигенције промовише или захтева нове (дигиталне) вештине?
Одговор: {{ odgovor_pitanje95 }}

Да ли су припремљени корисничко упутство и други материјали неопходни за усавршавање запослених/ангажованих?
Одговор: {{ odgovor_pitanje96 }}

Да ли се реализују обуке запослених/ангажованих?
Одговор: {{ odgovor_pitanje97 }}

Да ли систем вештачке интелигенције може имати негативан утицај на друштво у целини или на демократију?
Одговор: {{ odgovor_pitanje98 }}

Да ли је процењен посредан утицај коришћења система вештачке интелигенције на све заинтересоване стране или друштво у целини?
Одговор: {{ odgovor_pitanje99 }}

Да ли су предузете одговарајуће мере које смањују потенцијалан штетни утицај на друштво?
Одговор: {{ odgovor_pitanje100 }}
{% if odgovor_pitanje100 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje100_text }}
{% endif %}

Да ли су предузете мере које обезбеђују да систем вештачке интелигенције не утиче негативно на демократију?
Одговор: {{ odgovor_pitanje101 }}
{% if odgovor_pitanje101 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje101_text }}
{% endif %}

Да ли је успостављен механизам којим се омогућава ревизија система вештачке интелигенције?
Одговор: {{ odgovor_pitanje102 }}

Да ли је омогућено да (независно) треће лице може да изврши ревизију система вештачке интелигенције?
Одговор: {{ odgovor_pitanje103 }}

Да ли је дефинисан процес ревизије од стране трећих лица који обухвата испитивање етичких питања и мера праћења одговорности?
Одговор: {{ odgovor_pitanje104 }}
{% if odgovor_pitanje104 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje104_text }}
{% endif %}

Да ли је организована обука о ризицима коришћења система вештачке интелигенције и одговарајућем правном оквиру?
Одговор: {{ odgovor_pitanje105 }}
{% if odgovor_pitanje105 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje105_text }}
{% endif %}

Да ли имате одбор који се бави етичким питањима примене система вештачке интелигенције, или сличан механизам којим се обезбеђује дискусија о одговорности и етичким праксама?
Одговор: {{ odgovor_pitanje106 }}
{% if odgovor_pitanje106 == 'Да, и то:' %}
Детаљан одговор: {{ odgovor_pitanje106_text }}
{% endif %}

Да ли је успостављен механизам за дискусију, континуирано праћење и процену доследности примене ових Смерница за систем вештачке интелигенције?
Одговор: {{ odgovor_pitanje107 }}

Да ли предвиђени процес укључује идентификацију и документовање неусаглашених ставова у вези с различитим етичким принципима и објашњењима одлука?
Одговор: {{ odgovor_pitanje108 }}

Да ли је спроведена обука лица укључених у процес?
Одговор: {{ odgovor_pitanje109 }}

Да ли је трећим лицима (добављачима, крајњим корисницима, дистрибутерима/продавцима и др) омогућена пријава потенцијалних рањивости, ризика и/или дискриминације у систему вештачке интелигенције?
Одговор: {{ odgovor_pitanje110 }}

Да ли евентуалне пријаве рањивости, ризика и дискриминације захтевају ревизију процеса управљања ризиком?
Одговор: {{ odgovor_pitanje111 }}

У случају чињења штете појединцима да ли је успостављен механизам за обештећење?
Одговор: {{ odgovor_pitanje112 }}

