<!DOCTYPE html>
<html>
<head>
    <title>Приватност, заштита података о личности и управљање подацима</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img id="logo" src= "\static\pictures\logo-nitra-hor-cir.svg" alt= "png-image" />
    <br><br>
    <h2>Препоруке</h2>
    <br>
    <h3>Техничка поузданост</h3>

        <p>Управљање подацима обезбеђује тачност, безбедност и доступност података ради очувања квалитета и њихове заштите. Руковалац подацима обавезан је да заштити податке у Систему. Неопходно је на законит начин обезбедити приступ подацима поштујући приватност појединца, а све у складу с прописима о заштити података, нарочито података о личности.
        </p>
        <br>
           <b>1.	1.	Управљање подацима обухвата:</b>
            <br><br>
    
            <li>дефинисање делова података и уноса података за креирање заједничког пословног речника у пословном речнику</li>
            
            <li>идентификовање атрибута података (метаподатака) и начина уноса података</li>
            
            <li>дефинисање корисничких улога и начина аутентикације и ауторизације приступа подацима</li>
            
            <li>процесе управљања подацима</li>
            
            <li>правила и норме која дефинишу процес управљања подацима током целог животног циклуса</li>
            
            <li>управљање шифарницима, како би се исте класификације користиле у свим оперативним и аналитичким системима</li>
            
            <li>технологију* која омогућава управљање структуираним, мултиструктуираним и неструктурираним подацима у свим окружењима инфраструктуре.</li>
    <br>
            *Технологије управљања подацима су: каталог података, софтвер за интеграцију и управљање подацима (eng. data fabric software), „складиште података” (eng. data lake) и управљање шифарницима и класификацијама.
<br><br>
           <b>1.	2.	Каталог података обухвата:</b> 
            <br><br>
            <li>пословни речник
            </li>
            <li>аутоматско откривање података, профилисање, обележавање, каталогизацију и мапирање речника појмова
            </li>
            <li>аутоматску детекцију осетљивих података и класификацију управљања
            </li>
            <li>интероперабилност с другим шифарницима, алатима и апликацијама ради размене података.
            </li>

            <br><br>
           <b>1.	3. Софтвер за интеграцију и управљање подацима обухвата:</b>
            <br><br>
            <li>изворе података, „multi-cloud” и „edge data” повезивање
            </li>
            <li>алате за чување података
            </li>
            <li>исправку и интегрисање података
            </li>
            <li>метаподатке
            </li>
            <li>обезбеђивање заштите података
            </li>
            <li>безбедност приступа подацима у вишеструким складиштима података у дистрибуираном окружењу података
            </li>
<br>
            Складишта података подржавају енкрипцију података, анонимизацију и псеудонимизацију података и повезивање с каталогом података.

        <br><br>
        <b>1.	4.Нетехнолошки алати су:</b>
<br><br>
            <li>Примена законског оквира који уређује ко, када и с којом сврхом обрађује које податке: транспарентно информисање о сврси и начину рада Система, начину обраде података и другим питањима значајним за заштиту података.
            </li>
            <li>Промовисање коришћења безбедних оперативних окружења као што је инфраструктура у Државном центру за управљање и чување података.
            </li>    
            <li>Контрола од стране лица чији се подаци користе поштујући права појединца.
            </li>
            <li>Ограничавање приступа подацима који имају одређени степен поверљивости.
            </li>
            <li>Професионално управљање од стране лица обучених за етичко коришћење података, којим се успоставља равнотежа између бриге за јавно добро и ризика који проистичу из обраде података, уз блиску сарадњу са истраживачима и стручном заједницом.
            </li>
<br>
            
            <a id="button" href="/privatnost_zastita_podataka_i_upravljanje_podacima">Врати се назад</a></li>
            <a id="button" href="/transparentnost">Следећа група питања</a></li>
</body>
</html>
