<!DOCTYPE html>
<html>
<head>
    <title>Различитост, недискриминација и равноправност</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <img id="logo" src= "\static\pictures\logo-nitra-hor-cir.svg" alt= "png-image" />
  <br><br>  
  <h2>Препоруке</h2>
  <br>
        <p>Важан услов поуздане и одговорне вештачке интелигенције је њено недискриминаторно понашање које уважава различитост и доприноси равноправности. Препоруке за постизање нивоа различитости, недискриминације и равноправности у смислу етичких принципа изложених у овим Смерницама су:
          </p>  
          <br>
            <li>Анализирати Систем у реалном времену чиме се откривају намерне и ненамерне пристрасности и дискриминаторни обрасци. Када пристрасност (дискриминаторни образац) у подацима постане очигледна, тим мора да истражи и разуме одакле потиче и како се може ублажити (пожељно отклонити у целости).</li>
            
            <li>Развити Систем без намерних пристрасности уз редовно ревидирање Система како би се пристрасности избегле. Ненамерне пристрасности укључују и стереотипе.</li>
            
            <li>Проверити податке и изворе тих података пре започињања тренинга алгоритма.</li>
            
            <li>Укључити механизам за обезбеђивање повратне информације с лицима која користе/примењују Систем како би се подигла свест о пристрасностима или проблемима које идентификују та лица.</li>
            
            <li>Формирати мултидисциплинарне тимове за оцену предметних параметара. Различити тимови помажу у представљању шире варијације искустава како би се пристрасност па и дискриминација свеле на минимум.</li>
            
            <li>Обезбедити објективност и механизам за отклањање пристрасности.</li>
            
            <li>Ако се Систем покаже као неадекватан, пристрасан, да доноси дискриминаторне одлуке или је уопштено неуспешан а нема услова за унапређење, обуставити његов рад. Проценити штету коју Систем може да начини друштву и појединцу спрам штете која ће настати повлачењем из рада таквог Система.</li>

            <li>Тестирати Систем од ране фазе дизајна и често.</li>
            <br>
           <p>
            Пример различитости, недискриминације и равноправности. Након што се састао с члановима глобалног менаџмента хотела, тим за развој Система открива да су различитост и инклузивност важни елементи вредности хотела. Као резултат тога, тим осигурава да прикупљени подаци о раси, полу, итд. корисника у комбинацији са њиховом употребом Система, неће бити коришћени за оглашавање или искључивање одређених демографских категорија. Тим је преузео скуп података о гостима хотела. Након анализе ових података и примене у градњи агента, схватају да постоји степен алгоритамске пристрасности података. Тим наставља да одваја време да додатно обучи модел на већем, разноврснијем скупу података како би обезбедио недискриминацију и равноправност друштвених категорија.
            </p>
  
            <br>
            <a id="button" href="/razlicitost_nediskriminacija_i_ravnopravnost">Врати се назад</a></li>
            <a id="button" href="/drustveno_i_ekonomsko_blagostanje">Следећа група питања</a></li>
</body>
</html>
