<!DOCTYPE html>
<html>
<head>
    <title>Техничка поузданост и безбедност</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img id="logo" src= "\static\pictures\logo-nitra-hor-cir.svg" alt= "png-image" />
    <br><br>
    <h2>Препоруке</h2>
    <br>
    <h3>Техничка поузданост</h3>
    
        <p>Како би се осигурале поузданост и безбедност система вештачке интелигенције, пре свега треба пратити генералне препоруке за развој софтверских решења. Уз њих, потребно је увести низ метода које су специфичне за системе засноване на машинском учењу или другим методима развоја система вештачке интелигенције.
        </p>
        <br><br>
         <b>1.	Идентификовати више метрика за процену квалитета тренинга и надзор</b> 
            <br><br>
            Коришћење више метрика, уместо једне, помаже разумевању односа међу различитим типовима грешке и искуства корисника:
            <br><br>
            <li>Размотрити метрике попут прикупљања мишљења корисника анкетирањем, вредности које мере перформансе Система на нивоу целог система, као и краткорочну и дугорочну ваљаност, на пример, стопу кликтања (енг. clickthrough rate) или животну вредност потрошача (енг. customer lifetime value), као и стопу лажно позитивних и лажно негативних резултата, разложену по подгрупама (категоријама).</li>
            
            <li>Обезбедити релевантност метрике, на пример: систем за детекцију пожара би требало да има високу стопу препознавања, чак и ако ће то довести до повремене лажне узбуне.</li>
            <br>
        <b>2.	Кад год је могуће испитати улазне податке</b>
            <br><br>
            Системи машинског учења осликавају податке на којима су тренирани, те је неопходно анализирати и прилагодити улазне податке, како би се обезбедио довољан ниво њиховог разумевања. Када то није могуће (код нарочито осетљивих података), потребно је анализирати улазне податке израчунавањем агрегираних, анонимизираних групних вредности и статистика. Испитати:
            <br><br>
            <li>Да ли подаци садрже грешке (између осталог: недостајуће вредности, погрешне ознаке) како би се утврдио квалитет података?
            </li>
            <li>Да ли су подаци узорковани тако да добро представљају кориснике Система (нпр: Систем ће се користити за све старосне групе, али се подаци за тренинг односе само на пензионере) и реалан сценарио примене (на пример: Систем ће се користити целе године, али је трениран само на подацима прикупљеним током лета)? Да ли су подаци тачни?
            </li>
            <li>Да ли постоје разлике у перформансама Система током тренинга и примене? Током тренинга идентификовати потенцијална померања која се морају елиминисати, укључујући измене у скупу података за тренинг и/или циљној функцији (енг. objective function). Током евалуације Система, обезбедити податке за евалуацију који што боље осликавају сценарио примене.
            </li>
            <li>Да ли су нека обележја у моделу сувишна или непотребна? Користити најједноставнији модел који задовољава у погледу перформанси.
            </li>
            <li>За Системе који се тренирају под надзором или су у групи Система високог ризика, размотрити однос између ознака у тренинг подацима и предвиђене вредности.
            </li>
            <br>
        <b>3.	Препознати ограничења скупа података и модела</b>
            <br><br>
            <li>Модел трениран да детектује корелацију не би требало користити за доношење одлука о каузалности. Модел може, на пример, научити да су људи који купују патике за кошарку у просеку виши, али то не значи да ће неко ко купи такве патике постати виши.
            </li>
            <li>Савремени модели машинског учења у великој мери одражавају правилности у подацима који су коришћени за тренинг модела. Стога је потребно утврдити опсег и покривеност разних сценарија примене процедуром тренинга како би се препознале могућности и ограничења модела.
            </li>
            <li>Транспарентно навести ограничења са корисницима кад год је то могуће.
            </li>
            <br>
        <b>4.	Тестирати, тестирати, тестирати</b>
            <br><br>
            <li>Спроводити ригорозно модуларно тестирање, како би се појединачно истестирала свака компонента Система (те компоненте обухватају код, податке и сам модел).
            </li>
            <li>Спроводити тестове интеграције како би било разумљиво како појединачне компоненте комуницирају са осталим деловима Система.
            </li>
            <li>Детектовати клизање (енгл. drift) улазних података тестирањем статистичких вредности података који улазе у Систем, како би се осигурало да се они не мењају на непредвиђене начине.
            </li>
            <li>Користити скуп података који представља „златни стандард” (еталон) како би се осигурало да се Систем понаша како је предвиђено. Редовно ажурирати овај скуп података у складу с променама корисника и сценарија примене, како би се смањио ризик од тренирања на тестном скупу.
            </li>
            <li>Спроводити итеративно тестирање од стране корисника како би се, у различитим циклусима развоја, укључиле различите функционалности.
            </li>
            <li>Применити „пока-јарам” (eng. poka-yoke) приступ: у Систем уградити провере квалитета, тако да не долази до непредвиђених грешака или да оне дају тренутан одговор (на пример: ако нестане неко битно обележје, Систем неће понудити одговор).
            </li>
            <br>
        <b>5.	Надзирати Систем током примене</b>
            <br><br>
            Континуиран надзор обезбеђује да Систем функционише на предвиђен начин, узимајући у обзир повратне информације од стране корисника.
            <br><br>
            <li>Предвидети интервале за исправљање неправилности у раду Система.
            </li>
            <li>Размотрити краткорочна и дугорочна решења којима се отклањају неправилности. Уравнотежити краткорочна и дугорочна решења.
            </li>
            <li>Пре ажурирања модела у примени, анализирати разлике између модела у примени и предлога измењеног модела, као и како ће нови модел утицати на целокупни квалитет Система и искуство корисника.
            </li>
        
            <br>
            
            <a id="button" href="/tehnicka_pouzdanost_i_bezbednost">Врати се назад</a></li>
            <a id="button" href="/privatnost_zastita_podataka_i_upravljanje_podacima">Следећа група питања</a></li>
</body>
</html>
