<!DOCTYPE html>
<html>
<head>
    <title>Разлог доношења Смерница</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"></head>
</head>
<body>

    <form id="upitnik" action="/upitnik" method="POST">
        <!-- Skriveno polje za jedinstveni ID -->
        <input type="hidden" name="jedinstveni_id" value="{{ jedinstveni_id }}">
        <img id="logo" src= "\static\pictures\logo-nitra-hor-cir.svg" alt= "png-image" />
        <br>
        <h1>Разлог доношења Смерница</h1>
<br><br>
        <p> Етичке смернице за развој, примену и употребу поуздане и одговорне вештачке интелигенције (у даљем тексту: Смернице) за циљ имају да омогуће да се наука, посебно у области вештачке интелигенције, развија и напредује али да не дозволе да се човек, као централна фигура свих процеса који на њега утичу и чији је посредни или непосредни чинилац, угрози и запостави. Такође, системи вештачке интелигенције који се развијају морају да буду у складу с добробити човека, животиња и животне средине.
            <br><br>Вештачка интелигенција један је од стубова четврте индустријске револуције. Као правац развоја рачунарске науке и инжењерства почела је да се развија пре неколико деценија с периодима успона и стагнација. Захваљујући продору у области неуронских мрежа, све већој количини доступних података погодних за машинско учење, као и све већој доступности микропроцесора погодних за обимна нумеричка израчунавања, у последњих неколико година кренули су нагли развој и ширење примене вештачке интелигенције у областима здравства, финансија, образовања, енергетике, обраде текста на природном језику, говорних технологија, компјутерске визије и др.
            <br><br>Развој (система) вештачке интелигенције усмерен је у правцу стварања решења која ће испуњавати одговарајуће стандарде током читавог животног циклуса, на основу којих ће бити окарактерисана као поуздана и одговорна. У начелу, поуздана и одговорна вештачка интелигенција је она која је: технички поуздана и безбедна, у складу са законом и утврђеним етичким принципима и вредностима. Свака од наведене три компоненте посматра се засебно; услови оцене и исход саме оцене једне од компонената не претпостављају услове оцене и исход оцене друге компоненте. Наведене компоненте треба довести у хармонизовани однос, тако да се испуњењем све три вештачка интелигенција може оценити као поуздана и одговорна. 
            <br><br>Основни циљ доношења Смерница је да се не дозволи да процеси у којима учествује систем вештачке интелигенције угрозе или да маргинализују човека и деловање човека и да се слобода деловања, мишљења и одлучивања не наруши у мери да права и тековине које чувају те вредности буду обесмишљене, умањене или заборављене. Ово се пре свега односи на креирање екосистема у коме ће се употребом вештачке интелигенције унапредити продуктивност људи, оптималније користити ресурси у раду и функционисању људи и друштва у целини и унапредити квалитет живота људи.
            </p>
        
        <br>
        <a id="button" href="/delovanje_i_kontrola">Покрени упитник</a></li>

</body>
</html>

